body {
  background-color: #ceced2;
  color: #000000;
}

p {
  font-size: 16pt;
}

h1 {
  font-size: 32pt; 
}

h2 {
  font-size: pt;
}

h3 {
  font-size: 28pt;
}  
  
h4 {
  font-size: 25pt;  
}

h5 {
  font-size: 22pt;
}  
  
h6 {
  font-size:  ;
}
.topnav ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  overflow: hidden;
  background-color: #efeff4;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  margin-top: 0;
  text-decoration: none;
}

.content {
  width: auto;
  margin: 2.5em auto;
  text-align: center;
  padding: 1.25em;
  background-color: #efeff4;
  border-radius: 0.5em;
}

@font-face {
  font-family: #; /* The newly assigned
  src: url(#);
}
